@charset "utf-8" ;

body{
	background-color: white;

}

#logo {
	
	width: 234px;
	height: 260px;
	position: absolute;
	left: 40%;
}

#login{
	position: absolute;
	left: 42%;
	top:30%;
	

}

#header{
	height: 260px;
	width: 100%;
	background-color: rgba(40,0,180,0.5);
	position: absolute;
	border-top: 0;
	margin-top: 0;
}