@charset "utf-8" ;
body{
    margin: 0 auto;
}
h1{
    margin: 0 auto;
    text-align: center;
}
#bg{
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: -1;
}
<<<<<<< HEAD
#logo{
=======
#bgd{
width: 100%;
height: 25%;
}
#logo {
>>>>>>> origin/master
	width: 234px;
	height: 260px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    padding: 26px;
    font-family: helvetica;
}
#loginBackground{
	height: auto;
	width: 500px;
    margin: 0 auto;
	border: solid black 1px;
	background-color: white;
}
#loginText{
	font-size: 20px;
	color: black;
	top: 10px;
    margin: 0 auto;
	left: 10px;
	width: 500px;
	text-align: center;
	font-family: helvetica;
}
#login{
	position: relative;
	left: 0%;
	top: 25%;	
	font-family: helvetica;
	color: black;
	font-size: 20px;
	text-align: center;
}
.inputField {
	background-color: rgb(255,255,255);
	height: 40px;
	width: 450px;
	font-size: 37px;
	color: rgb(0,0,0);
	text-indent: 20px;
	text-align: center;
}
#register{
    position: relative;
    width: 90px;
    top: 10px;
    margin: 0 auto;
    font-family: helvetica;
    font-size: 22px;
    background-color: #f36f65;
    z-index: 3;
}
#register:hover{
    background-color: #61afca;
	-webkit-transition: background-color 1s;
}
#bgMap{
	height: 500px;
	width: 1250px;
	background-color: gray;
	position: absolute;
	top: 35%;
	left: 15%;
}
.rom{
	height: 100px;
	width: 100px;
	background-color: red;
    margin: 0 auto;
}
.rom:hover{
	transition: background 0.2;
    background-color: red;
}
#submit{
	background-color: #f36f65;
	width: 120px;
	height: 60px;
	font-size: 28px;
	font-family: helvetica;
	position: relative;
}
#submit:hover{
	background-color: #61afca;
	-webkit-transition: background-color 1s;
}
.box{
    float: left;
    margin: 10px;
	border: ridge gray 5px;
    font-size: 20px;
	text-align: center; 
    font-family: helvetica;
    color: black;
    background-color: #c4b4b4;
}
#box{
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 1100px;
    position: relative;
}
#rom1:hover, #rom2:hover, #rom3:hover, #rom4:hover, #rom5:hover, #rom6:hover{
    background-image: url(../pic/prosjektor3.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
#rom7:hover, #rom8:hover, #rom9:hover, #rom10:hover, #rom11:hover, #rom12:hover{
    background-image: url(../pic/2pers.png);
    background-repeat: no-repeat;
    background-position: center;
}
#rom1, #rom2, #rom3, #rom4, #rom5, #rom6{
    height: 150px;
	width: 150px;
}
#rom7, #rom8, #rom9, #rom10, #rom11, #rom12{
    height: 100px;
    width: 100px;
    margin-left: 45px;
}
a.rom-link {
	width: 100px;
}
.ledig{
	height: 100px;
	width: 100px;
	background-color: green;
}
#ikkeledig{
	height: 100px;
	width: 100px;
	background-color: red;	
}
#wrapper{
<<<<<<< HEAD
=======
	margin:0 auto;

}
.rom-link{
	margin-left:40px;
	float: left;
	 
}
.form1{
>>>>>>> origin/master
	height: auto;
	width: 100%;
	z-index: 10;
}
nav{
    text-align: center;
    font-family: helvetica;
    font-weight: bold;
<<<<<<< HEAD
=======

>>>>>>> origin/master
}
.link{
    transition: 0.3s;
    color: black;
    font-size: 26px;
    padding: 8px;
    margin: 8px;
    text-decoration: none;
}
.link:hover{
    background-color: Black;
    color: white;
    padding: 10px 20px;
}
p{
    font-size: 24px;
    color: orange;
    text-align: center;
    font-family: helvetica
}
#floor{
    padding: 10px;
    margin: 0 auto;
    height: 60px;
    width: 250px;
    font-size: 20px;
    text-align: center;
    font-family: helvetica;
    margin: 0 auto;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.floorbox{
    color: black;
    font-weight: bold;
    font-family: helvetica;
}
.floorbox:hover{
    transition: 0.3s;    
    background-color: Black;
    color: white;
    padding: 5px 10px;
}
a{
    text-decoration: none;
    color: black;
<<<<<<< HEAD
}
=======
}
.links{
	width: 900px;
	height: 400;
	margin: 0 auto;
}
>>>>>>> origin/master
