body {
}
h1{
    align-content: center;
    text-align: center;
}
#header{
    width: 960px;
	height: 380px;
    margin: 0 auto;
}
#back{
    background-image: url(../Assets/Bilder/bg-fjell-sol.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 10px;
    height: 418px;
    width: 1300px;
    z-index: 0;
}
#logo{
    position: absolute;
    height: 270px;
    width: 240px;
    background-repeat: no-repeat;
    background-image: url(../Assets/Bilder/logo.png);
    z-index: 1;
}
nav {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0);
}
#nav {
  background: Purple;
}

.link {
  transition: 0.5s;
  color: orange;
  font-size: 26px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link:hover {
  background-color: Black;
  color: #EEA200;
  padding: 20px 10px;
}
p{
    text-align: center;
    font-size: 22px;
    font-style: italic;
    color: Red;
}