body {
    background-image: url(../Assets/Bilder/bg-fjell-sol.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
h1{
    align-content: center;
    text-align: center;
}
#header{
    width: 300px;
	height: 380px;
    margin: 0 auto;
}
#logo{
    margin-left: auto;
    margin-right: auto;
    height: 270px;
    width: 240px;
    background-repeat: no-repeat;
    background-image: url(../Assets/Bilder/logo.png);
}
#wrap{
	width: 9600px;
	height: 600px;
    margin: 0 auto;
    position: absolute;
}
#wrap2{
    width: 445px;
	height: 600px;
    margin-left: 0px;
    position: absolute;
}
#wrap3{
    width: 445px;
	height: 600px;
    margin-left: 80px;
    margin-top: 500px;
    position: absolute;
}
#wrap4{
    width: 445px;
	height: 600px;
    margin-left: 600px;
    position: absolute;
}
#wrap5{
    width: 445px;
	height: 600px;
    margin-left: 600px;
    margin-top: 500px;
    position: absolute;
}
.Room1, .Room2, .Room5, .Room6, .Room9, .Room10, .Room13, .Room14{
    background-color: #b0d7f2;
    height: 150px;
    width: 150px;
    border: ridge black;
    margin: 20px;
    float: left;
    text-align: center;
    font-size: 74px;
    
}
 .Room3, .Room4, .Room7, .Room8, .Room11, .Room12, .Room15, .Room16{
    background-color: #b0d7f2;
    height: 200px;
    width: 200px;
    border: ridge black;
    margin: 2px;
    float: left;
    text-align: center;
    font-size: 74px;
 }
.Room1:hover, .Room2:hover, .Room3:hover, .Room4:hover, .Room5:hover, .Room6:hover, .Room7:hover, .Room8:hover, .Room9:hover, .Room10:hover, .Room11:hover, .Room12:hover, .Room13:hover, .Room14:hover, .Room15:hover, .Room16:hover{
    background-color: red;
}
nav{
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0);
}
#nav {
  background: Purple;
}

.link {
  transition: 0.5s;
  color: orange;
  font-size: 26px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link:hover {
  background-color: Black;
  color: #EEA200;
  padding: 20px 10px;
}