body {
}
h1{
    align-content: center;
    text-align: center;
}
#header{
    width: 960px;
	height: 380px;
    margin: 0 auto;
}
#back{
    background-image: url(../Assets/Bilder/bg-fjell-sol.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 10px;
    height: 418px;
    width: 1300px;
    z-index: 0;
}
#logo{
    position: absolute;
    height: 270px;
    width: 240px;
    background-repeat: no-repeat;
    background-image: url(../Assets/Bilder/logo.png);
    z-index: 1;
}
#wrap{
	height: 600px;
    width: 960px;
    margin: 0 auto;
}
#wrap2{
    width: 445px;
	height: 600px;
    margin-left: 80px;
    position: absolute;
}
#wrap3{
    width: 500px;
	height: 600px;
    margin-left: 80px;
    margin-top: 550px;
    position: absolute;
}
#wrap4{
    width: 445px;
	height: 600px;
    margin-left: 600px;
    position: absolute;
}
#wrap5{
    width: 445px;
	height: 600px;
    margin-left: 600px;
    margin-top: 550px;
    position: absolute;
}
.Room1, .Room2, .Room5, .Room6, .Room9, .Room10, .Room13, .Room14{
    background-image: url(../Assets/Bilder/RoomLiten.png);
    height: 144px;
    width: 184px;
    margin: 9px;
    float: left;
}
#filterWrap{
    height: 210px;
    width: 960px;
    margin: 0 auto;
}
#projector{
    background-color: aqua;
    height: 100px;
    width: 100px;
}
#projector1:target > .RoomStor1 > .RoomStor1:hover{
}
input[type=checkbox]:checked ~ projector1{


}
#projector:active{
    opacity: 0;
}
.Room1:hover, .Room2:hover, .Room5:hover, .Room6:hover, .Room9:hover, .Room10:hover, .Room13:hover, .Room14:hover{
    background-image: url(../Assets/Bilder/2pers.png);
    background-repeat: no-repeat;
    z-index: 1;
    border: ridge 10px;
}
.RoomStor1, .RoomStor2, .RoomStor3, .RoomStor4{
    height: 294px;
    width: 399px;
    background-image: url(../Assets/Bilder/RoomStor.png)
}
.RoomStor1:hover, .RoomStor2:hover, .RoomStor3:hover, .RoomStor4:hover{
    background-image: url(../Assets/Bilder/4pers.png);
    background-repeat: no-repeat;
    z-index: 1;
    border: ridge 10px;
}
 .Room3, .Room4, .Room7, .Room8, .Room11, .Room12, .Room15, .Room16{
    background-color: #b0d7f2;
    height: 200px;
    width: 200px;
    border: ridge black;
    margin: 2px;
    float: left;
    text-align: center;
    font-size: 74px;
 }
nav{
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0);
}
#nav {
  background: Purple;
}

.link {
  transition: 0.5s;
  color: orange;
  font-size: 26px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link:hover {
  background-color: Black;
  color: #EEA200;
  padding: 20px 10px;
}